// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bg: #6cb2eb;

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked + label{
    color: white;
    background: $bg;
    border-radius: 25px;
}

.radio-group {
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}
